PORT=8787
STEAM_API_BASE=https://partner.steam-api.com
STEAM_PUBLISHER_KEY=
STEAM_APP_ID=3463540
STEAM_COIN_ITEMDEF_ID=1013
STEAM_CHEST_ITEMDEF_ID=2001
TOTAL_COINS_GOAL=24000000
SESSION_TIMEOUT_MS=120000
POWERUP_DURATION_MS=86400000
PRIMARY_TIMER_MS=3600000
OLD_CLOCK_TIMER_MS=7200000
DATA_FILE=data.json
